/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 17px;
  backdrop-filter: blur(5px);
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(129, 236, 174, 0.6);
  padding: 20px;
}

form p {
  color: rgb(255, 81, 81);
  text-align: center;
  padding: 5px 10px;
}

form * {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  outline: none;
  border: none;
}
.warn {
  color: rgb(255, 81, 81);
  text-align: center;
  font-size: 14px;
}

form h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 800;
}

input {
  margin-top: 10px;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.22);
  border: none;
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  color: #e5e5e5;
}

.social-text {
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

input:hover {
  background: #434343;
  transition: all 0.5s ease;
}

input:focus {
  box-shadow: 0px 2px 2px #0000002b, 0px 5px 10px #00000036;
  background: #434343;
}

.login-button {
  margin-top: 40px;
  width: 100%;
  border-radius: 5px;
}

button {
  background: rgba(0, 0, 0, 0.22);
  border: none;
  color: #e1e1e1;
  padding: 11px 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #629677;
  transition: all 0.5s ease;
}

button:focus {
  box-shadow: 0px 0px 0px 2px rgba(103, 110, 103, 0.71);
  background: #629677;
}
